@font-face {
    font-family: JacquesFrancois;
    src: url(../fonts/JacquesFrancois-Regular.ttf);
}
*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   list-style-type: none;
   text-decoration: none;
   font-family: JacquesFrancois;
}
@font-face {
    font-family: BodoniModa;
    src: url(../fonts/BodoniModa-VariableFont_opsz\,wght.ttf);
}

body{
  background-color: black;
}
header{
    background-color: dark; 
padding: 48px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 a{
    font-size: 24px;
    color: white;
    font-family: BodoniModa;
    font-size: 24px;

}
h1 a span{
    display: block;
    padding-left: 30px;
    font-family: BodoniModa;
}
header ul{
    width: 410px;
}
header ul a{
    font-size: 24px;
    color: whitesmoke;
}
.socialicons{
    width: 256px;
}
.text{
    color: white;
}
.move{
    margin-left:275px ;
    padding-top: 0px;
}
.move2{
    padding-top: 105px;
    margin-left: 0PX;
    margin-right:0 ;
    padding-bottom: 50px;
    
}
.move3{
    margin-right: 100px;
}
footer{
    padding-right: 280px;
}
.text a{
    color: white;
}
.move3{
    margin-left: 200px;
    
}
.mtavari{
    padding: 110px 156px 114px 170px;
}
.mrf{
    margin-top: 73px;
}
.mewing{
    margin-left: 655px;
}
.mewing1{
    margin-left: 550px;

}
.sigma{
    margin-left: 450px;
}
.holder{
    margin-left: 1380px;
    padding-top: 71px;
    padding-bottom: 331px;
    
    
}
.holding{
    margin-left: 92px;
    
}
.mevar{
    width: 500px;
    height: 28px;
    
}
.umtavresi{
    padding: 400px 320px 1px 322px ;
}
.dashoreba{
    margin-top:71px;
}
.lols{
   margin-left: 350px;
}
input{
 
    width: 300px;
    height: 100%;
    border-radius: 25px;
    font-size: 20px;
    display: block;
    border: none;
    padding-left: px;
}


  